[Desktop Entry]
Encoding=UTF-8
Name=Add Menu Item
Name[am]=ዝርዝር እቃ መጨመሪያ
Name[ca]=Afegeix un ítem de Menú
Name[de]=Einen Menüpunkt hinzufügen
Name[el]=Add Menu Item
Name[es]=Agregue ítem al Menú
Name[fr]=Ajout d'une entrée à un Menu
Name[it]=Aggiungi voce di menu
Name[nl]=Voeg Menu Onderdeel Toe
Name[pt]=Adicionar Item ao Menu
Name[sv]=Lägg till rubriker i Menyn
Comment= Add a menu item
Comment[am]=ዝርዝር እቃ መጨመሪያ
Comment[ca]=Afegeix una entrada de menú
Comment[de]=Einen Menüpunkt hinzufügen
Comment[el]=Προσθήκη Μενού
Comment[es]=Agregar un objeto al menú
Comment[fr]=Ajouter une entrée à un menu
Comment[it]=Aggiungi una voce di menu
Comment[nl]=Voeg een menu onderdeel toe
Comment[pt]=Adiciona um item ao menu
Comment[sv]=Lägg till en rubrik i Menyn
Exec=add-desktop
Icon=gnome-control-center
Terminal=false
Type=Application
Categories=X-antiX;Settings;
NoDisplay=False
