[Desktop Entry]
Encoding=UTF-8
Name=Add Menu Item
Comment= Add a menu item
Exec=add-desktop
Icon=gnome-control-center
Terminal=false
Type=Application
Categories=X-antiX;Settings;
NoDisplay=False
